*{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Poppins', sans-serif;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-link{
    display: flex;
    column-gap: 20px;

}

.navbar-link a{
    text-decoration: none;
    color:#1D232C;
}

.navbar-menu-toggle{
    display: none;
}

/*side-navbar*/

.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left:-60%;
    padding: 20px;
    color: white;
    transition: 0.3s;

}

.side-navbar-link{
    margin-bottom: 30px;;
}

.side-navbar.link a{
    text-decoration: none;
    color: white;
}

.side-navbar-link a:hover{
    text-decoration: underline;
}

/*Header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom:20px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}

.serice{
    padding: 20px;
}

.service-container-1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display:flex;
    justify-content: space-between;
    align-items: center;    
    gap: 10px;
}

.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding:10px;
}

.new-arrival-container img{
    width: 300px;
    height:300px;
    object-fit: cover;
}

.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: #1D232C;
    position: absolute;
    top: 50%;
    left:18%;
    border-radius:10px;
    border:none;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input{
    padding: 11px;
    width:80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button{
    margin-top: 10px;
    color:#F2F4F7;
    background-color: #1D232C;
    border-radius:10px;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: #F2F4F7;
}

.product section{
    margin: top 20px;
}

.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border:none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus{
    outline: none;
}

.products{
    padding:20px;
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box{
        text-align: center;
        flex-basis: 20%;
        padding: 20px;
    }
.product-box img{
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.contact{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 100px;
    background-color: #1D232C;
    color: #F2F4F7;
    border-radius: 20px;
    height: auto;

}

.mainsection {
  font-family: Arial, sans-serif;
  background-color: #1b222c; /* dark background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  width: 400px;
  padding: 20px;
}

.form-container p{
    font-weight: bold;
    padding-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="text"], 
input[type="email"] {
  background: white;
}

textarea {
  background: linear-gradient(to bottom, #ffffff, #eaeaea);
  resize: none;
  height: 100px;
}

button {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0055aa;
}

/* Media queries*/

@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-link{
        display:none;
    }
    .header-image{
        display:none;
    }
    .service-container-1{
        display:none;
    }
    .service-container-2{
        flex-direction: column;
    }
}